:root {
  --color-primary: rgb(30 96 172);
  --color-primary-light: rgb(37, 132, 206);
  --color-secondary: rgb(240 253 255);
  --color-secondary-dark: rgb(139 201 201);
  --color-secondary-black: rgb(44 42 52);
  --font-primary: Heebo;
  --font-title: Rubik;
}

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-primary), sans-serif;
  font-weight: 600;
  line-height: 1.6;
  color: var(--color-primary);
  background-color: var(--color-primary);
}

.hide {
  display: none;
}

header {
  font-size: 14px;
  height: 80px;
  padding: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--color-primary);
  position: sticky;
}

.content {
  display: flex;
  flex-flow: column;
  z-index: 1;
  background-color: var(--color-primary);
}

.banner {
  background-image: url("../imgs/the squad (6am version).png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 30%;
  min-height: 600px;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-grow: 0;
  flex-wrap: wrap;
  z-index: 0;
}

.banner-info {
  position: absolute;
  width: 100%;
  min-height: 600px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-grow: 0;
  flex-wrap: wrap;
  z-index: 0;
}

.frc-info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  min-height: 500px;
  width: 100%;
  background-color: rgb(218, 235, 238);
  z-index: 1;
}

.mission {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  min-height: 300px;
  z-index: 1;
  background-color: var(--color-secondary);
}

.robots {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  min-height: 500px;
  background-color: var(--color-secondary);
}

.b2 {
  background-image: url(../imgs/DSCN0935.JPG);
  background-position: 50% 70%;
  min-height: 600px;
}

.b3 {
  background-image: url(../imgs/DSCN0870.JPG);
  background-position: 50% 60%;
  min-height: 600px;
}

.about {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: column;
  height: 100vh;
  background-color: var(--color-secondary);
}

.divider {
  background-color: var(--color-primary);
  max-width: 600px;
  width: 600px;
  height: 10px;
  align-self: center;
  margin: 40px;
}

h2 {
  font-size: 40px;
  margin-bottom: 16px;
  font-family: var(--font-title);
}

h1 {
  font-size: 60px;
  font-family: var(--font-title);
  text-align: center;
}

p {
  font-size: 17px;
  word-spacing: 50%;
  letter-spacing: 50%;
}

a {
  text-decoration: none;
}

.logo-link {
  font-size: 0%;
}

.header-logo {
  height: 60px;
}

.nav-buttons {
  margin-left: 150px;
  width: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-buttons__button {
  color: var(--color-secondary);
  text-decoration: none;
  font-size: 16px;
  transition: all 0.2s;
}
.nav-buttons__button:hover {
  color: var(--color-secondary-dark);
}

.info {
  color: var(--color-secondary);
  z-index: 5;
}
.info__name {
  font-family: var(--font-title), sans-serif;
  font-size: 60px;
}
.info__description {
  max-width: 700px;
  font-size: 20px;
  margin-bottom: 35px;
}
.info__button {
  text-decoration: none;
  color: var(--color-secondary);
  font-size: 18px;
  background-color: var(--color-primary);
  padding: 15px;
  margin: 20px;
  border-radius: 5px;
  transition: all 0.4s;
}
.info__button:hover {
  color: var(--color-primary);
  background-color: var(--color-secondary);
}

.banner-logo {
  height: 400px;
}

.frc-img {
  height: 300px;
}

.frc-info-text {
  color: var(--color-primary);
  padding: 50px;
}
.frc-info-text__description {
  font-weight: 400;
  max-width: 640px;
  color: rgb(97, 143, 154);
}

.mission-title {
  font-family: var(--font-title);
  text-align: center;
}

.mission-statement {
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  max-width: 800px;
  color: var(--color-primary-light);
}

.robot-card__img {
  max-height: 300px;
  transition: all 0.5s;
}
.robot-card__img:hover {
  max-height: 310px;
}
.robot-card__img:hover + .hide {
  display: block;
}
.robot-card__name {
  font-family: var(--font-title);
  text-align: center;
  margin-top: 10px;
  font-size: 20px;
}

.footer {
  background-color: var(--color-primary);
  text-align: center;
  padding: 10px;
}
.footer__credit {
  color: var(--color-secondary);
  font-weight: 400;
}

.sponsor-level {
  min-height: 160px;
  display: flex;
  padding: 50px;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  background-color: var(--color-secondary);
}
.sponsor-level__title {
  margin-bottom: 30px;
}
.sponsor-level__info {
  font-size: 20px;
  color: var(--color-primary-light);
}

.sponsor-contact {
  min-height: 160px;
  display: flex;
  margin: 30px;
  padding: 20px;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.about-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  min-height: 600px;
  z-index: 1;
  background-color: var(--color-secondary);
}
.about-section__img {
  height: 400px;
}

.about-section-info {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  flex-flow: column;
  min-height: 400px;
  max-width: 550px;
}
.about-section-info__title {
  margin-top: -20px;
}
.about-section-info__info {
  font-weight: 400;
  font-size: 20px;
  color: darkslategray;
}

.mentors {
  background-color: var(--color-secondary);
}
.mentors__pictures-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-height: 500px;
}
.mentors__pictures-text {
  font-size: 20px;
}
.mentors__picture {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.mentors__img {
  height: 400px;
  padding: 40px;
  padding-bottom: 5px;
}

.image-bar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-grow: 1;
  min-height: 600px;
  background-color: var(--color-secondary);
}
.image-bar__img {
  width: 100%;
  aspect-ratio: 1.2/1;
  -o-object-fit: cover;
     object-fit: cover;
}/*# sourceMappingURL=main.css.map */